.notion-header-block,
.notion-sub_header-block,
.notion-sub_sub_header-block {
  margin: 0px !important;
}

.notion-divider-block > div > div {
  border-bottom: 2px solid rgba(255, 255, 255, 1) !important;
}

.notion-selectable {
  border-left: 2px solid rgba(255, 0, 0, 1);
  padding-left: 10px;
  margin-left: 10px;
}
