.notion-header-block,
.notion-sub_header-block,
.notion-sub_sub_header-block {
  margin: 0px !important;
}

.notion-divider-block > div > div {
  border-bottom: 2px solid rgba(255, 255, 255, 1) !important;
}

/* change every 5 */
/* 1st item */
.notion-selectable:has(.notion-list-item-box-left):nth-of-type(5n + 1) {
  border-left: 6px solid aqua;
}

/* 2nd item */
.notion-selectable:has(.notion-list-item-box-left):nth-of-type(5n + 2) {
  border-left: 5px solid green;
}

/* 3rd item */
.notion-selectable:has(.notion-list-item-box-left):nth-of-type(5n + 3) {
  border-left: 4px solid yellow;
}

/* 5th item */
.notion-selectable:has(.notion-list-item-box-left):nth-of-type(5n) {
  border-left: 3px solid red;
}

/* 
1. Adjacent sibling (exact next element)
.notion-list-item-box-left + * {

2. General sibling (any after it)
.notion-list-item-box-left ~ * {

*/

.notion-list-item-box-left + div:nth-of-type(1) {
  border-left: 3px solid aqua;
}
.notion-list-item-box-left + div:nth-of-type(2) {
  border-left: 3px solid green;
}
.notion-list-item-box-left + div:nth-of-type(3) {
  border-left: 3px solid yellow;
}
.notion-list-item-box-left + div:nth-of-type(4) {
  border-left: 3px solid orange;
}
.notion-list-item-box-left + div:nth-of-type(5) {
  border-left: 3px solid red;
}

/* .notion-selectable  */
/*  
.notion-list-item-box-left + * {
  border-left: 3px solid blue;
}

.notion-list-item-box-left + * {
  border-left: 3px solid green;
}

.notion-selectable:nth-child(5n + 3) {
  border-left: 3px solid yellow;
}

.notion-selectable:nth-child(5n + 4) {
  border-left: 3px solid orange;
}

.notion-selectable:nth-child(5n + 5) {
  border-left: 3px solid red;
}
*/
